//Fontes
$fontPrincipal: Roboto, sans-serif;

//Cores
$corPrincipal: #fff;
$corSecundaria: #111;
$corDeFundo: #f5f6fa;
$corBotao: #44bd32;
$corHoverBotao: #4cd137;
$corCabecalho: #182C61;

//Breakpoints
$mobile: 767px;
$tablet: 1023px;