body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: #333;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
  color: #333;
  font-size: 16px;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  flex-grow: 0.5;
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

ul {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

li {
  padding: 10px;
}

li:hover {
  background-color: #eee;
}

li.completed {
  text-decoration: line-through;
  background-color: #ddd;
}